.list {
    margin-top: 5px;
    max-height: 198px;
    padding-bottom: 10px;

    overflow: auto;
    -ms-overflow-style: none;

      &::-webkit-scrollbar {
          display: none;
      }

      &__add-button {
        opacity: 0.5;
        margin-top: 10px;

      &:hover {
        opacity: 1;
      }
    }
    
      li {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 1px;
        cursor: pointer;
  
        &.active {
          background: rgba(255, 233, 234, 0.5);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
        }

        .list__item-name {
          flex: 1;
        }
        .list__item-task-count {
          opacity: 0.4;
        }

        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          margin-right: 10px;
        }
  
        
        i {
          display: inline-flex;
          margin-right: 6px;
        }

        &:hover .list__remove-icon {
          opacity: 0.5;
        }

        .list__remove-icon {
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }
      }
  }