.tasks {
    &:not(:last-of-type) {
        margin-bottom: 70px;
    }

    a {
        text-decoration: none;
    }

    &__title {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;

      color: #64c4ed;
      padding-bottom: 10px;
      border-bottom: 1px solid #e6e6e6;

      &:hover img {
          opacity: 0.5;
      }

      img {
        cursor: pointer;
        margin-left: 15px;
        opacity: 0;

            &:hover {
                opacity: 1;
            }
        }
    }


    &__items {
        margin-top: 30px;

        h2 {
            color: rgb(182, 182, 182);
            font-family: Montserrat;
            font-weight: 500;
            font-size: 1.2rem;
            margin: 30px auto;
            text-align: center;
        }

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            cursor: pointer;

            p {
                margin-left: 15px;
                border: none;
                width: 100%;
                margin-left: 7px;
    
            }

            &:hover {
                .tasks__items-item-action {
                    opacity: 0.3;
                }
            }

            &-action {
                display: flex;
                opacity: 0;
                transition: opacity 0.2s linear;

                svg {
                    padding: 3px;
                    border-radius: 3px;
                }

                &:hover {
                    svg {
                        background-color: rgb(212, 212, 212);
                    }
                }
            }
        }
    }


    &__checkbox {
        input {
            display: none;
        }

        label {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 20px;

        border: 2px solid #64c4ed;
        border-radius: 30px;
        cursor: pointer;

            svg {
                position: relative;
                left: 0.5px;
                opacity: 0;
            }

            &:hover {
                background-color: #f2f2f2;
                border-color: #f2f2f2;
                svg {
                    opacity: 0.5;
                }
            }
        }

        input:checked + label {   //если инпут checked, элемент справа меняет цвет
            background-color: #4dd599;
            border-color: #4dd599;

            svg {
                opacity: 1;
                path {
                    stroke: #fff;
                }
            }
        }
    }

    &__form {
        margin-top: 25px;

        &-new {
            display: flex;
            align-items: center;
            margin-left: 4px;
            opacity: 0.4;
            cursor: pointer;
            transition: opacity 0.1s linear;

            &:hover {
                opacity: 1;
            }

            img {
                width: 15px;
            }

            span {
                font-size: 0.9rem;
                margin-left: 12px;
            }
        }

        &-fields {
            margin-top: 15px;

            button {
                margin-right: 5px;
                margin-top: 5px;
            }
        }
    }
}