.marker {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 2px;

    &--grey {
      background-color: rgb(163, 163, 163);
    }
    &--green {
      background-color: #0add08 ;
    }
    &--pink {
      background-color: #fc849c;
    }
    &--lime {
      background-color: rgb(187, 255, 0);
    }
    &--purple {
      background-color: rgb(180, 36, 180);
    }
    &--yellow {
      background-color: rgb(249, 252, 61);
    }
    &--blue {
      background-color: #64C4ED;
    }
    &--red {
      background-color: rgb(230, 0, 0);
    }
  }