* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;

  font-family: 'Roboto', -apple-system, sistem-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quests {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;

  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 1px #f3f3f3;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  font-size: 14px;
  overflow: hidden;

  &__sidebar {
    width: 200px;
    height: 100%;

    padding: 60px 20px;
    background-color: rgba(254,189,192, 0.5);
    border-right: 1px solid #f1f1f1;
  }
}