* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;

  font-family: 'Roboto', -apple-system, sistem-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quests {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;

  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px 1px #f3f3f3;
  border-radius: 10px;
  font-size: 14px;
  overflow: hidden;


  &__sidebar {
    width: 200px;
    height: 100%;

    padding: 40px 20px;
    background-color: rgba(254,189,192, 0.5);
    border-right: 1px solid #f1f1f1;
  }

  &__tasks {
    flex: 1;
    padding: 60px;

    overflow: auto;
    -ms-overflow-style: none;

      &::-webkit-scrollbar {
          display: none;
      }
  }
}


.textarea {
  background: #fff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;

  &:focus {
    border-color: #bebebe;
  }
}

.button {
  background: rgb(248, 63, 134);
  border-radius: 4px;
  color: #fff;
  padding: 10px 20px;

  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background: darken(rgb(248, 63, 134), 5%);
  }
  &:active {
    background: darken(rgb(248, 63, 134), 15%);
  }
  &:disabled {
    background: rgb(166, 181, 196);
  }

  &--grey {
    background:rgb(235, 235, 235);
    color: rgb(122, 122, 122);

    &:hover {
      background: darken(rgb(235, 235, 235), 2%);
      color: darken(rgb(122, 122, 122), 5%);
    }

    &:active {
      background: darken(rgb(235, 235, 235), 4%);
      color: darken(rgb(122, 122, 122), 7%);
    }
  }
}